config
.env
.eslintrc.json
._.DS_Store
.DS_Store
node_modules
src/appData.json
src/commands/utility/statusLatest.json
src/commands/utility/totdLatest.json
src/events/totdLatest.json
src/sql/appData.sqlite