# Repo root

.vscode/
config/
node_modules/
WIP/
.env
.eslintrc
._.DS_Store
.DS_Store
DEVNOTES.txt
ecosystem.config.js
jsconfig.json
start.zsh

# Source code directory

src/commands/utility/statusLatest.json
src/sql/appData.sqlite